body {
  /* variables */
  --main-bg-color: gold;

  /* centre align */
  margin: 0 auto;
  
  /* other css props */
  /* margin: 0; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  text-align: center;
  padding: 5px;
  width: 90%;
}

.input-box {
  margin-top: 10px;
  padding: 5px;
  width: 80vw;
  border: 1px solid lightgrey;
  height: 200px;
  font-size: 18px;
}

.gratitude {
  margin-top: 50px
}